*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --background: #000;
}
body {
    height: 100vh;
    background-color: var(--background);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./media/trivia-bg.jpg);
    background-position: center;
    background-size: cover;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}
h1 {
    font-family: cursive;
    letter-spacing: -1.5px;
    text-align: center;
    font-size: 80px;
    color: #f1f5a5;
    text-shadow: 0 0 30px #f8ff76, 0 0 10px #f1f5a5;
}
main {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.container-start {
    transform: translateY(50px);
    background-image: linear-gradient(rgba(4, 24, 26, 0.5),rgba(4, 24, 26,0.5));
    border-radius: 5px;
    padding: 40px;
    box-shadow: inset 0 0 10px 5px #77E4D4, 0 0 10px 5px #77E4D4;
    border: .25rem solid #77E4D4;
    max-width: 80%;
}
#question {
    color: #F8F988;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.score-message {
    color: #F8F988;
    text-shadow: 0 0 30px #f8ff76, 0 0 10px #f1f5a5;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
#message{
    padding-top: 0.5rem;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.correct-answer {
    color: #82CD47;
}
.incorrect-answer {
    color: #D61C4E;
}
.answer-choice {
    height: 80px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 10px;
    transform: translateY(10%);
}
.btn {
    border: 2px solid #4baa9c;
    background-color: #77E4D4;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
.answer-choice:focus {
    background-color: #2f6b62;
    text-shadow: 0 0 30px #63cfbf, 0 0 20px #a0f5e8;
    color: #e0f8f5;
}
.btn:hover {
    background-color: #2f6b62;
    text-shadow: 0 0 30px #63cfbf, 0 0 20px #a0f5e8;
    color: #e0f8f5;
}
.start-btn {
    padding: 2.5rem;
    font-family: cursive;
    background: none;
    background-image: linear-gradient(rgba(53, 6, 25, 0.1),rgba(53, 6, 25,0.1));
    color: #F8DE22;
    text-shadow: 0 0 5px #F8DE22;
    border-radius: .25rem;
    border: .25rem solid #e60073;
    box-shadow: 0 0 10px 5px #e60073, inset 0 0 10px 5px #e60073;
}
.start-btn:hover {
    background: none;
    border: .25rem solid #ff4da6;
    box-shadow: 0 0 10px 10px #ff4da6, inset 0 0 10px 10px #ff4da6;
    color: #F8F988;
    text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.212),
    0 0 15px #F8F988;
}
.start-btn, .next-btn {
    font-size: 50px;
    font-weight: bold;
}
.submit-btn, .next-btn {
    padding: 2px 5px;
    font-size: 30px;
}
.restart-btn {
    background-color: #ff4da6;
    border-color: #c03b7e;
}
.restart-btn:hover {
    background-color: #962c61;
    text-shadow: 0 0 30px #dd4290, 0 0 20px #ff4da6;
    color: #f391c2;
}
.controls {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.hide {
    display: none;
}


@media (max-width: 801px) {
    main {
        width: 600px;
    }
    .btn-grid {
        grid-template-columns: repeat(1, auto);
        gap: 6px;
        transform: translateY(0);
    }
    .answer-choice {
        height: 50px;
    }
    #message{
        font-size: 25px;
    }
}

@media (max-width: 601px) {
    .container {
        width: 450px;
    }
    main {
        width: 450px
    }
}

@media (max-width: 455px) {
    h1 {
        font-size: 50px;
    }
    .container {
        padding: 0.7rem;
        width: 300px;
    }
    main {
        width: 300px;
    }
    #question {
        font-size: 25px;
        padding-bottom: 1rem;
    }
    .btn {
        font-size: 16px;
    }
    .start-btn {
        padding: 1rem;
        font-size: 40px;
    }
    .next-btn {
        padding: 2px 1px;
        font-size: 30px;
    }
    .submit-btn {
        padding: 2px 2px;
        font-size: 30px;
    }
}